[Unit]
Description=Bot CL
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/bot-cl
ExecStart=/root/bot-cl/venv/bin/python3 /root/bot-cl/main.py
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
